@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {

    /* VARS */

    /* Font Sizes */

    --font-lg: 2.4em;
    --font-md: 1.8em;
    --font-sm: 1.6em;
    --font-xs: 1.4em;
    --font-xxs: 1.2em;

    /* Spacings */

    --spacing-lg: 6.4rem;
    --spacing-md: 3.2rem;
    --spacing-sm: 1.6rem;
}

/* NORMALIZE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 219, 219);
}

/* HEADER */

header {
    position:fixed;
    width: 100vw;
    background-color: rgb(13, 13, 46);
}

h1 {
    text-transform: uppercase;
    font-size: var(--font-lg);
    text-align: center;
    padding: var(--spacing-sm) var(--spacing-lg);
    color: white;
}

.spanHeader {
    color: rgb(240, 183, 40);
}

main {
    margin-left: var(--spacing-lg);
    margin-right: var(--spacing-lg);
}

.container {
    display: flex;
    gap: 2rem;
    padding: var(--spacing-md) 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 6.1rem;
}

/* MAIN */

main {
    margin-left: var(--spacing-lg);
    margin-right: var(--spacing-lg);
}

.container {
    display: flex;
    gap: 2rem;
    padding: var(--spacing-md) 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 6.1rem;
}

.month {
    border: 1px solid black;
    background-color: white;
    width: 28.0rem;
}

.month__name {
    font-size: var(--font-md);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(22, 22, 87);
    color: white;
}

.month__box {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, 4.0rem);
    grid-auto-flow: row;
    font-size: var(--font-xs);
    text-align: center;
}

.month__box--days {
    text-transform: uppercase;
    font-weight: 500;
    background-color: rgb(140, 140, 172);
    text-align: center;
}

/* Month: Number Days */

.month__firstDay1 {
    grid-column-start: 7;
}

.month__firstDay2 {
    grid-column-start: 3;
}

.month__firstDay3 {
    grid-column-start: 3;
}

.month__firstDay4 {
    grid-column-start: 6;
}

.month__firstDay5 {
    grid-column-start: 1;
}

.month__firstDay6 {
    grid-column-start: 4;
}

.month__firstDay7 {
    grid-column-start: 6;
}

.month__firstDay8 {
    grid-column-start: 2;
}

.month__firstDay9 {
    grid-column-start: 5;
}

.month__firstDay10 {
    grid-column-start: 7;
}

.month__firstDay11 {
    grid-column-start: 3;
}

.month__firstDay12 {
    grid-column-start: 5;
}

/* Icon */

.upButton {
    position: fixed;
    right: .5rem;
    bottom: 1.0rem;
    width: 5.5rem;
    height: 5.5rem;
    opacity: 60%;
    transition: all 2s;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(13, 13, 46);
    margin-top: auto;
    padding: var(--spacing-sm) var(--spacing-lg);
}

footer p {
    font-size: var(--font-sm);
    text-transform: uppercase;
    color: white;
}

.spanFooter {
    font-weight:600;
    color: rgb(240, 183, 40);
}

/* MEDIAS */

@media (min-width: 1350px) {
    
    .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1238px;
    }
}

@media (max-width: 450px) {

    h1 {
        padding-left: var(--spacing-md);
        padding-right: var(--spacing-md);
    }

    main {
        margin-left: var(--spacing-md);
        margin-right: var(--spacing-md);
    }

    footer {
        padding-left: var(--spacing-md);
        padding-right: var(--spacing-md);
    }

    footer p {
        font-size: var(--font-xs);
    }
}

@media (max-width: 380px) {

    h1 {
        padding-left: var(--spacing-sm);
        padding-right: var(--spacing-sm);
    }
    
    main {
        margin-left: var(--spacing-sm);
        margin-right: var(--spacing-sm);
    }

    footer {
        padding-left: var(--spacing-sm);
        padding-right: var(--spacing-sm);
    }

    footer p {
        font-size: var(--font-xxs);
    }
}